* {
	text-align: center;
	font-family: Ubuntu, Arial;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

img {
	width: 250px;
}

body {
	background: #898070;
}

header {
	background: #808080;
}

.joueur {
	background: #898070;
}

.actions {
	background: #808090;
}

.arene {
	background: #985403;
}

.monstre {
	background: #974136;
}
