@font-face {
	font-family: firstFont;
	src: url('font/Font1.ttf');
}

@font-face {
	font-family: secondFont;
	src: url('font/Font5.TTF');
}

@font-face {
	font-family: thirdFont;
	src: url('font/Font3.ttf');
}

* {
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.bandeau {
	height: 15px;
	background: rgb(251,180,57);
	background: -moz-linear-gradient(0deg, rgba(251,180,57,0.6642856971890319) 0%, rgba(251,69,2,1) 50%, rgba(255,188,41,0.3757702910265669) 100%);
	background: -webkit-linear-gradient(0deg, rgba(251,180,57,0.6642856971890319) 0%, rgba(251,69,2,1) 50%, rgba(255,188,41,0.3757702910265669) 100%);
	background: linear-gradient(0deg, rgba(251,180,57,0.6642856971890319) 0%, rgba(251,69,2,1) 50%, rgba(255,188,41,0.3757702910265669) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbb439",endColorstr="#ffbc29",GradientType=1); 
}

img {
	width: 250px;
	background: rgb(242,66,6);
	background: -moz-radial-gradient(circle, rgba(242,66,6,1) 13%, rgba(0,164,191,1) 42%, rgba(255,255,255,0) 60%);
	background: -webkit-radial-gradient(circle, rgba(242,66,6,1) 13%, rgba(0,164,191,1) 42%, rgba(255,255,255,0) 60%);
	background: radial-gradient(circle, rgba(242,66,6,1) 13%, rgba(0,164,191,1) 42%, rgba(255,255,255,0) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f24206",endColorstr="#ffffff",GradientType=1); 
}

body .joueur {
	padding-top: 30px;
	background: rgb(1,133,135);
	background: -moz-linear-gradient(0deg, rgba(1,133,135,0.6642856971890319) 31%, rgba(147,32,1,0.3757702910265669) 100%);
	background: -webkit-linear-gradient(0deg, rgba(1,133,135,0.6642856971890319) 31%, rgba(147,32,1,0.3757702910265669) 100%);
	background: linear-gradient(0deg, rgba(1,133,135,0.6642856971890319) 31%, rgba(147,32,1,0.3757702910265669) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#018587",endColorstr="#932001",GradientType=1); 
	padding-bottom: 30px;
}

#Guerrier {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-color: rgba(255, 102, 0, 0);
}

#Guerrier:hover {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 102, 0, 0.9);
}

#Guerrier:active {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 255, 255, 0.7);
}

#Archer {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-color: rgba(255, 102, 0, 0);
}

#Archer:hover {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 102, 0, 0.9);
}

#Archer:active {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 255, 255, 0.7);
}

#Voleur {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-color: rgba(255, 102, 0, 0);
}

#Voleur:hover {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 102, 0, 0.9);
}

#Voleur:active {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 255, 255, 0.7);
}

#Guerrier {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-color: rgba(255, 102, 0, 0);
}

#Guerrier:hover {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 102, 0, 0.9);
}

#Guerrier:active {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 255, 255, 0.7);
}


#Paladin {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-color: rgba(255, 102, 0, 0);
}

#Paladin:hover {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 102, 0, 0.9);
}

#Paladin:active {
	margin: 0 auto;
	width: 75%;
	border: solid;
	border-radius: 8px;
	border-color: rgba(255, 255, 255, 0.7);
}

header {
	padding-bottom: 30px;
	background: rgb(223,56,0);
	background: -moz-linear-gradient(90deg, rgba(223,56,0,1) 0%, rgba(0,164,191,1) 50%, rgba(255,107,0,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(223,56,0,1) 0%, rgba(0,164,191,1) 50%, rgba(255,107,0,1) 100%);
	background: linear-gradient(90deg, rgba(223,56,0,1) 0%, rgba(0,164,191,1) 50%, rgba(255,107,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#df3800",endColorstr="#ff6b00",GradientType=1);
}

header h1 {
	font-family: firstFont;	
	font-size: 75px;
	text-shadow: -1px -1px 4px #ff6600, 1px -1px 4px #ff6600, -1px 1px 4px #ff6600, 1px 1px 4px #ff6600;
}

header h2 {
	font-family: firstFont;
	font-size: 30px;
	text-shadow: -1px -1px 2px rgba(255,2552,255,0.7), 1px -1px 2px rgba(255,2552,255,0.7), -1px 1px 2px rgba(255,2552,255,0.7), 1px 1px 2px rgba(255,2552,255,0.7);
}

h3 {
	font-family: firstFont;
	font-size: 25px;
	color: #cc2900;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.description {
	font-family: secondFont;
	font-size: 0.8em;
	color: #661400;
	opacity: 0.80;
	padding: 10px;
}

a.bouton {
}

div.actions {
	padding: 15px 0px;
}
div.actions a {
	border: solid 3px rgba(0, 51, 204, 0.8);
	border-radius: 3px;
	padding: 5px 13px;
	font-weight: bold;
	font-family: secondFont;
	color: rgba(0, 51, 204, 0.9);
}
div.actions a:hover {
	border: solid 3px rgba(0, 51, 204, 1);
	border-radius: 5px;
	padding: 3px 9px;
	font-weight: bold;
	background-color: rgba(204, 0, 0, 0.3);
}
div.actions a:active {
	border: solid 3px rgba(0, 51, 204, 1);
	border-radius: 6px;
	padding: 3px 9px;
	font-weight: bold;
	background-color: rgba(204, 0, 0, 0.7);
	color: rgba(0, 51, 204, 1);
}

header p {
	font-family: secondFont;
	font-size: 20px;
	color: rgba(204, 0, 0, 0.9);
	padding-top: 15px;
}


.actions {
	background: rgb(223,56,0);
	background: -moz-linear-gradient(90deg, rgba(223,56,0,1) 0%, rgba(0,164,191,1) 50%, rgba(255,107,0,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(223,56,0,1) 0%, rgba(0,164,191,1) 50%, rgba(255,107,0,1) 100%);
	background: linear-gradient(90deg, rgba(223,56,0,1) 0%, rgba(0,164,191,1) 50%, rgba(255,107,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#df3800",endColorstr="#ff6b00",GradientType=1);
}

.arene {
	background: #985403;
}

.monstre {
	background: #974136;
}

footer {
	background-color: rgba(153, 153, 102, 1);
	font-family: thirdFont;
	font-size: 8px;
	font-color: #2e2e1f
}

footer #footer {
	padding: 5px;
}